body {
margin: 0px;
}

.login-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 350px auto;
  grid-template-rows: 1fr 400px 1fr;
  background-color: #F7F7F7;
}

.login {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid grey;
  border-radius: 4px;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
}

.login-top {
  margin-top: 50px;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
  color: black;
  font-size: 3em;
}

.login-middle {
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: left;
  padding: 0 20px;
}

.login-text-input {
  padding: 10px 5px;
  margin: 5px 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #FAFAFA
}

.login-submit-input {
  padding: 10px 0;
  margin: 20px 20px;
  background-color: #57A1FF;
  border:0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.login-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column:2/3;
  grid-row: 3/4;
  color: #008FFF;
}

.login-bottom div {
  width: fit-content;
  cursor: pointer;
}

.main-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 60px 1fr;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid grey;
}

.feed{
  display: grid;
  grid-template-columns: 500px 200px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.feed-photos{
  grid-column: 1 / 2;
  flex-direction: column;
}

.feed-photos div{
  height: 200px;
  word-wrap: break-word;
}
